@inherits RadzenBlazorDemos.Layouts.TempLayoutComponent

@using Radzen
@using Radzen.Blazor

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
  <ChildContent>
    <RadzenHeader>
      <ChildContent>
        <div class="row justify-content-start align-items-center">
          <div class="col-md-6 d-flex align-items-center" style="padding-left: 30px">
            <RadzenLabel Text="ScratchBlazor">
            </RadzenLabel>
            <RadzenMenu style=@($"height: 50px;flex: auto")>
              <ChildContent>
                <RadzenMenuItem Text="Home" Path="home">
                </RadzenMenuItem>
                <RadzenMenuItem Text="Child" Path="child">
                </RadzenMenuItem>
                <RadzenMenuItem Text="Working" Path="working">
                </RadzenMenuItem>
              </ChildContent>
            </RadzenMenu>
          </div>
          <div class="col-md-6 text-lg-right">
          </div>
        </div>
      </ChildContent>
    </RadzenHeader>
    <RadzenBody @ref="body0" style="margin-top: 58px; margin-left: 0px">
      <ChildContent>
        <RadzenContentContainer Name="main">
        @Body
        </RadzenContentContainer>
      </ChildContent>
    </RadzenBody>
    <RadzenFooter>
      <ChildContent>
        <RadzenLabel Text="ScratchBlazor, Copyright Ⓒ 2022">
        </RadzenLabel>
      </ChildContent>
    </RadzenFooter>
  </ChildContent>
</RadzenLayout>
